.vs
.vscode
.DS_Store
out
test
testcases
*.xcf
*.map
*.noi

/engine/doc/Natural Docs
/engine/doc/NaturalDocs_Config/Working Data

/engine/src/arkos/misc/doc
/engine/src/arkos/playerAkg
/engine/src/arkos/playerAkm
/engine/src/arkos/playerAky
/engine/src/arkos/playerLightweight
/engine/src/arkos/playerMod
/engine/src/arkos/playerSoundEffects
/engine/src/arkos/serial
/engine/src/arkos/misc
/engine/src/realfun
/engine/src/obsolete
/engine/datasrc/font/damieng

/projects/default_config.js

/projects/_backup
/projects/gos
/projects/FinalSmash
/projects/wizzl
/projects/Slava
/projects/Trojan
/projects/Scroller
/projects/screen3rot
/projects/Koneko
/projects/Corrupta
/projects/eggysmaze
/projects/Corrupta
/projects/DuaelDrop
/projects/htd005

/projects/samples/datasrc

/tools/audio/pcmenc/replayer_core_22050.asm
/tools/audio/pcmenc/replayer_core_44100.asm
/tools/audio/pcmenc/resampl.h
/tools/audio/pcmenc/resample.c
/tools/audio/pcmenc/st.h
/tools/audio/pcmenc/vplayer.asm
/tools/audio/pcmenc/MSX.ORG
/tools/audio/pcmenc/pcmenc.cpp
/tools/audio/pcmenc/replayer_core_8000.asm
/tools/audio/pcmenc/replayer_core_8000v2.asm
/tools/audio/pcmenc/replayer_core_11025.asm

/tools/build/DskTool/src

/tools/BlueMSX
/tools/Emulicious
/tools/fMSX
/tools/MEISEI
/tools/OpenMSX
/tools/openMSX_18
/tools/RuMSX
/tools/MSXtk/proj/*.user
/projects/artrag
/tools/MSXEC
