.vs
.vscode
.DS_Store
*.xcf
*.map
*.noi
*.cdb
*.code-workspace
out
test
testcases
bin
dos0
dos1
dos2

/engine/doc/Natural Docs
/engine/doc/NaturalDocs_Config/Working Data

/engine/src/arkos/misc/doc
/engine/src/arkos/playerAkg
/engine/src/arkos/playerAkm
/engine/src/arkos/playerAky
/engine/src/arkos/playerLightweight
/engine/src/arkos/playerMod
/engine/src/arkos/playerSoundEffects
/engine/src/arkos/serial
/engine/src/arkos/misc
/engine/src/realfun
/engine/src/kss
/engine/src/obsolete
/engine/datasrc/font/damieng

/projects/default_config.js

/projects/*
!/projects/example
!/projects/samples
!/projects/targets
!/projects/template
!/projects/template_msx2

/projects/samples/datasrc

/tools/*
!/tools/audio
!/tools/build
!/tools/compress
!/tools/MSXtk
!/tools/script
!/tools/sdcc

/tools/audio/pcmenc/*.asm
/tools/audio/pcmenc/*.c
/tools/audio/pcmenc/*.cpp
/tools/audio/pcmenc/*.h
/tools/audio/pcmenc/MSX.ORG

/tools/build/DskTool/src
/tools/build/DOS/MSX-DOS*

/tools/MSXtk/proj/*.user

